<!DOCTYPE html>
<html>
<head>
  <title><%= title || "Recipe Site" %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>My Recipe Site</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/recipes">Recipes</a> |
      <a href="/recipes/add">Add Recipe</a>
    </nav>
    <hr>
  </header>