<header class="main-header">
  <h1>Melody's Cookbook</h1>
</header>

<nav class="subheader">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/add-recipe">Add Recipe</a></li>
  </ul>
</nav>


